################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lock
/.vs/Lesson1_tutorscopy/v16/Server/sqlite3/storage.ide
/.vs/Lesson1_tutorscopy/v16/Server/sqlite3/storage.ide-wal
/.vs/Lesson1_tutorscopy/v16/Server/sqlite3/storage.ide-shm
/.vs/slnx.sqlite
/.vs/Lesson1_tutorscopy/v16
